[submodule "docker-nginx-php"]
	path = docker-nginx-php
	url = https://github.com/fideloper/docker-nginx-php.git
[submodule "docker-mysql"]
	path = docker-mysql
	url = https://github.com/fideloper/docker-mysql.git
