[submodule "docker-mysql"]
	path = docker-mysql
	url = https://github.com/seth2810/docker-mysql
[submodule "docker-apache-php"]
	path = docker-apache-php
	url = https://github.com/seth2810/docker-apache-php
